@font-face{
    
    font-family: space_age;
    src: url("spaceage.ttf") format("truetype")
}

html{
    height: auto;
    min-height: 100%;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body{
    margin: 0; padding: 0;
    background-image: linear-gradient(45deg, #FF3CAC, #784BA0, #2B86C5);
    box-sizing: border-box;
    word-wrap: break-word;
}

.container{
    position: relative;
    min-height: 100vh;
}

.container .Margin{
    position: relative;
    width: 100%;
    height: 10px;
}

.container h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.container .Themen-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding: 10px;
}

.img-something {
    margin: 0 auto;
    display: inline-block;
}

.container .Themen-container div{
    margin-top: 15px;
    padding: 30px;
    width: 335px;
    height: 250px;
    background-image: linear-gradient(#696969, #131313);
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    overflow: hidden;
    transition: all ease 0.3s;
}

.container .Themen-container div:hover{
    transform: translateX(-4px) translateY(-7px);
    box-shadow: 0 16px 29px rgba(0, 0, 0, .75);
}

.container .Themen-container div .Methoden{
    margin-top: 50px;
    text-align: justify;
    font-size: 15px;
    opacity: 1;
    margin-left: -37px;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.Untertitel{
    text-align: justify;
    font-size: 25px;
    margin-top: 50px;
}

.container .Popup{
    position: fixed;
    top: 0; left: 0;
    background-image: linear-gradient(45deg, #FF3CAC, #784BA0, #2B86C5);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.container .Popup span{
    position:absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
    z-index: 100;
}

.container .Popup div::-webkit-scrollbar {
    width: 0.7em;
}

.container .Popup div::-webkit-scrollbar-track {
    background-image: linear-gradient(45deg, #FF3CAC, #784BA0, #2B86C5);
    border-radius: 100vw;
    margin-block: .5em;
}

.container .Popup div::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: .15em solid transparent;
    background-clip: padding-box;
    border-radius: .35em;
}

.container .Popup div{
    background-image: linear-gradient(#696969, #131313);
    text-align: center;
    position: absolute;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: .35em;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    width: calc(100% - 210px);
    height: calc(100% - 210px);
    padding: 70px 30px 30px 30px;
    object-fit: cover;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}

.container .Popup div .Methoden{
    margin-top: 50px;
    text-align: justify;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.container .Popup .Thema7{
    line-height: 40px;
}

.container .Popup .Thema8{
    line-height: 40px;
}
.container .Popup .Thema9{
    line-height: 40px;
}

img{
    margin-top:50px;
    width:80%;
    border-radius: 7px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .7);
}