@font-face{
    
    font-family: space_age;
    src: url("spaceage.ttf") format("truetype")
}

html{
    height: auto;
    min-height: 100%;
}

body{
    margin: 0; padding: 0;
    background-image: linear-gradient(45deg, #F1F2B5, #135058);
    box-sizing: border-box;
    word-wrap: break-word;
}

.container{
    position: relative;
}

.container .Margin{
    position: relative;
    width: 100%;
    height: calc(40vh - 150px);
}

.PassfotoContainer{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Passfoto{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.container h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 50vh;
}

.container .Themen-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding: 10px;
}

.img-something {
    margin: 0 auto;
    display: inline-block;
}

.container .Themen-container div{
    margin-top: 15px;
    padding: 30px;
    width: 410px;
    height: 300px;
    background-image: linear-gradient(#696969, #131313);
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    overflow: hidden;
    transition: all ease 0.3s;
    z-index: 10;
}

.container .Themen-container div:hover{
    transform: translateX(-7px) translateY(-12px);
    box-shadow: 0 16px 29px rgba(0, 0, 0, .75);
    cursor: pointer;
}

.container .Themen-container div .Methoden{
    margin-top: 50px;
    text-align: justify;
    font-size: 15px;
    opacity: 1;
    margin-left: -37px;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.Methoden li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 47px);
    min-height: 70px;
    padding-left: 24px;
    padding-right: 24px;
}

.a {
    background-color: #14505876;
}

.aLang {
    background-color: #14505876;
    line-height: 40px;
}

.b {
    background-color: #eaecb272;
}

.bLang {
    background-color: #eaecb272;
    line-height: 40px;
}

.UnterLebenslauf {
    display: flex;
    width: 50%;
}

.UnterLebenslauflang {
    display: flex;
    width: 80%;
    text-align: justify;
}

.UnterLebenslaufFull {
    display: flex;
    line-height: 40px;
    width: 100%;
    text-align: justify;
}

.MethodenUnterTitel {
    margin-top: 70px;
    margin-bottom: 0;
}

.Untertitel{
    text-align: justify;
    font-size: 25px;
    margin-top: 50px;
}

.container .Popup{
    position: fixed;
    top: 0; left: 0;
    background-image: linear-gradient(45deg, #F1F2B5, #135058);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.container .Popup span{
    position:absolute;
    top: 30px;
    right: 50px;
    font-size: 60px;
    font-weight: bolder;
    color: #163f44;
    cursor: pointer;
    z-index: 100;
    padding: 5px;
    transition: all ease 0.3s;
}

.container .Popup span:hover {
    color: #ffffff;
}

.container .Popup div::-webkit-scrollbar {
    width: 0.5em;
    height: 100%;
}

.container .Popup div::-webkit-scrollbar-track {
    background-image: linear-gradient(45deg, #638676, #135058);
    border-radius: 100vw;
    margin-block: .5em;
    height: 100%;
}

.container .Popup div::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: .15em solid transparent;
    background-clip: padding-box;
    border-radius: .35em;
}

.container .Popup div{
    background-image: linear-gradient(#696969, #131313);
    text-align: center;
    position: absolute;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: .35em;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    width: calc(100% - 120px);
    height: calc(100% - 140px);
    padding: 70px 1.4em 30px 30px;
    object-fit: cover;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}

.container .Popup div .Methoden{
    margin-top: 50px;
    text-align: justify;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

img{
    margin-top:50px;
    margin-bottom: 50px;
    width:100%;
    border-radius: 7px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .7);
}

@media screen and (max-width: 850px) {
    .container .Popup div .Methoden{
        font-size: 16px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container .Popup div .Methoden li{
        min-height: 30px;
        display: flex;
        flex-direction: column;
        line-height: 20px;
        padding: 20px,0,0,0;
        width: 100%;
    }
    .container .Popup div .Methoden li .UnterLebenslauf {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 20px,0,0,0;
        width: 100%;
    }
    .container .Popup div .Methoden li .UnterLebenslaufLang {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 20px,0,0,0;
        margin: 0;
        width: 100%;
    }
    .container .Popup div .Methoden li .UnterLebenslaufFull {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 20px,0,0,0;
        width: 100%;
        line-height: 20px;
    }
    .container .Popup div .Methoden .aLang {
        padding: 20px,0,0,0;
        width: 100%;
    }
    .container .Popup div .Methoden .bLang {
        padding: 20px,0,0,0;
        width: 100%;
    }
    .container .Themen-container div{
        width: 250px;
        height: 175px;
    }
    .container .Popup div{
        font-size: 24px;
        width: calc(100% - 70px);
    }
    .container .Popup span{
        font-size: 31px;
        padding: 10px;
        right: 30px;
    }
    img{
        margin-top:30px;
        margin-bottom: 30px;
        width:100%;
        border-radius: 3px;
    }
}

@media screen and (max-width: 600px) {
    .container .Popup div .Methoden{
        font-size: 14px;
        padding-left: 0px;
    }
    .container .Popup div .Methoden li{
        min-height: 30px;
        display: flex;
        flex-direction: column;
    }
    .container .Popup div{
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .container .Popup div .Methoden{
        font-size: 10px;
        padding-left: 0px;
    }
    .container .Popup div .Methoden li{
        min-height: 30px;
        display: flex;
        flex-direction: column;
    }
    .container .Popup div{
        font-size: 18px;
    }
}

.BorderOuter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.BorderInner {
    width: calc(100% - 150px);
    height: 3px;
    border-radius: 1px;
    background-color: #ffffff;
}

.lBorderOuter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.lBorderInner {
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #ffffff;
}

h2 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.Footer {
    height: 0px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}
